.main-page {
    background-image: linear-gradient(black, white);
}
.s_error {
    color: red;
}
.btn-fp {
    background-color: goldenrod;
    color: white;
    width: 100%;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.fp-box {
    background-color: black;
    margin-top: 20px;
    width: 35%;
}

.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}
.text-box {
    background-color: rgb(90, 88, 88);
    color: white;
    border-color: rgb(90, 88, 88);
}
.labels {
    color: white;
}
.show-hide {
    background-color: rgb(90, 88, 88);
    border-color: rgb(90, 88, 88);
    margin-left: -1px;
}