.image_size{
    width:100%;
   height:600px;
   position: relative;
}
* {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
}
.viewAll{
    text-align: right;
}
.headings{
    padding: 1% 2%;
}
.carousel-indicators {
    z-index: -1;
}
#carousel-image {
    width: auto;
    height: 225px;
    max-height: 225px;
}
.carousel-cell{
    width: 250px;
    height: 100px;
    
}
.sections {
    padding: 50px 0px;
    padding: 10px 0px;
}
 img {
    width: 150px;
    height: 100px;
    display: flex
}
ngb-carousel {
    width: inherit;
    height: inherit;
}
