<app-video [id]="id" [videoArray]="videoPass" *ngIf="!video_selected" ></app-video>

<!-- banner image display -->
<div id="home" *ngIf="id? false:true">
   <div class="banner carousel">
      <!-- <div class="container-fluid"> -->   
      <ngb-carousel class="no-indicators" *ngIf="slide">    
        <ng-template ngbSlide *ngFor="let s of slide">   
           <div class="wrapper">   
              <img src="{{s}}" class="image_size" alt="Random slide"> 
            </div>  
          </ng-template> 
      </ngb-carousel> 
    </div>

  <ng-template ngFor let-item [ngForOf]="allCategorys" let-i="index" [ngForTrackBy]="category">
    <div *ngIf="item.videos.length !=0">
      <div class="col-sm-6 headings">
        {{item.category}}
      </div>
      <div class="col-sm-6 viewAll">
        View All
      </div>
   
        <carousel>
          <div class="carousel-cell"  *ngFor="let eachitem of item.videos">
              <img src="{{eachitem.thumbUrl}}" id="carousel-image" alt="" (click)="getId(eachitem.videoId, item.category)">
          </div>
        </carousel>
      </div> <!--  null category div close -->
  </ng-template>
</div>
